version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: OdwykLab.Api/Dockerfile
    image: odwyklab-backend:latest
    container_name: odwyklab-backend
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

    ports:
      - "5000:80"
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: OdwykLab.Frontend/Dockerfile
    image: odwyklab-frontend:latest
    container_name: odwyklab-frontend
    ports:
      - "5001:80"
    depends_on:
      - backend
    restart: unless-stopped
volumes:
  db_data: