@page "/dashboard"
@using OdwykLab.Domain.Entities
@using OdwykLab.Frontend.Components.Models
@rendermode InteractiveServer
@inject HttpClient Http

<div class="full-screen-hero">
    <div class="calender-wrapper">
        <CustomMonthView @ref="_calendarRef" SelectedDays=" _selectedDates" selectedDay="_selectedDay" OnChooseDay="ChooseDay" />
    </div>

    <MudGrid>
        <MudItem xs="12">
            @if(isDaySelected)
            {
                if(isDayMarked)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="DeleteDay">Remove</MudButton>
                }
                else
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="() => CreateDay(true, _selectedDay)">I Did it today</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => CreateDay(false, _selectedDay)">I didn't do it today</MudButton>
                }
            }
        </MudItem>
        <MudItem xs="12">
            <MudText>Fail: @fails</MudText>
            <MudText>Win: </MudText>
        </MudItem>
    </MudGrid>
</div>


@code
{
    [Inject]
    public required IJSRuntime JSRuntime { get; set; }
    [Inject]
    public required NavigationManager NavManager { get; set; }
    [Inject]
    public required ISnackbar Snackbar { get; set; }

    DateOnly? _selectedDay;
    bool isDaySelected = false;
    bool isDayMarked = false;
    private string apiKey = "";

    private CustomMonthView? _calendarRef;

    private List<Day> _selectedDates = new();
    int wins = 0;
    int fails = 0;

    private Task ChooseDay(DateOnly? day)
    {
        if (!day.HasValue)
        {
            Snackbar.Add("Oooops, you chose the wrong date", Severity.Error);
            return Task.CompletedTask;
        }

        var today = DateOnly.FromDateTime(DateTime.Today);
        if (day.Value > today)
        {
            Snackbar.Add("Oooops, you chose the wrong date", Severity.Error);
            return Task.CompletedTask;
        }

        if (_selectedDay == day)
        {
            isDaySelected = false;
            _selectedDay = null;
        }
        else
        {
            isDaySelected = true;
            _selectedDay = day;
        }
        var existing = _selectedDates.FirstOrDefault(d => d.Date == day.Value);
        isDayMarked = existing != null;

        StateHasChanged();
        return Task.CompletedTask;
    }


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        try
        {
            apiKey = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Błąd odczytu localStorage: " + ex.Message);
        }

        if (string.IsNullOrEmpty(apiKey))
        {
            string refreshToken = "";
            try
            {
                refreshToken = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "refreshToken");
            }
            catch { }

            if (string.IsNullOrEmpty(refreshToken))
            {
                NavManager.NavigateTo("/login");
                return;
            }
        }

        if (!string.IsNullOrEmpty(apiKey))
        {
            var request = new HttpRequestMessage(HttpMethod.Get, "/api/Days/me");
            request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", apiKey);

            var response = await Http.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();

                var deserialized = System.Text.Json.JsonSerializer.Deserialize<List<Day>>(json, new System.Text.Json.JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });
                _selectedDates = deserialized != null ? deserialized : new List<Day>();

                fails = _selectedDates.Count();
                StateHasChanged();
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                await RefreshTokens(JSRuntime, Http);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
            else
            {

                Console.WriteLine("Błąd pobierania dni z API: " + response);
            }
        }
        else
        {
            NavManager.NavigateTo("/login");
        }
    }

    private async Task CreateDay(bool isGood, DateOnly? selectedDay)
    {
        isDaySelected = false;
        DateOnly dateOnly;
        if (!selectedDay.HasValue)
        {
            Snackbar.Add("Oooops, you have to choose a date", Severity.Error);
            return;
        }
        else
        {
            dateOnly = selectedDay.Value;
        }
        var day = new Day
        {
            isGood = isGood,
            Date = dateOnly,
        };
        _selectedDates.Add(day);
        var request = new HttpRequestMessage(HttpMethod.Post, $"/api/Days");
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", apiKey);
        request.Content = new StringContent(
            System.Text.Json.JsonSerializer.Serialize(day),
            System.Text.Encoding.UTF8,
            "application/json");

        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(day));
        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            _selectedDay = null;
            StateHasChanged();
        }
        else
        {
            _selectedDates.Remove(day);
            var respContent = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"BLAD Status: {response.StatusCode}, Content: '{respContent}'");
        }
    }
    private async Task DeleteDay()
    {
        isDaySelected = false;
        isDayMarked = false;
        var day = _selectedDates.FirstOrDefault(d => d.Date == _selectedDay);
        if (day == null)
        {
            Snackbar.Add("Oooops, this date isn't exist. Try to reload page", Severity.Error);
            return;
        }
        var dayToRemove = _selectedDates.FirstOrDefault(d => d.Id == day.Id);
        _selectedDates.Remove(dayToRemove);
        var request = new HttpRequestMessage(HttpMethod.Delete, $"/api/Days")
        {
            Content = new StringContent(
                System.Text.Json.JsonSerializer.Serialize(day.Date),
                System.Text.Encoding.UTF8,
                "application/json")
        };
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", apiKey);
        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            _selectedDay = null;
            StateHasChanged();
        }
        else
        {
            _selectedDates.Add(day);
            var respContent = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"BLAD Status: {response.StatusCode}, Content: '{respContent}'");

        }
    }
    public async static Task<string[]> RefreshTokens(IJSRuntime JSRuntime, HttpClient Http)
    {
        if (JSRuntime is null) throw new ArgumentNullException(nameof(JSRuntime));
        if (Http is null) throw new ArgumentNullException(nameof(Http));

        string? currentAuth = null;
        string? currentRefresh = null;

        try
        {
            currentAuth = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
            currentRefresh = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "refreshToken");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"RefreshTokensAsync: błąd odczytu localStorage: {ex}");
            return Array.Empty<string>();
        }

        if (string.IsNullOrEmpty(currentRefresh))
        {
            return Array.Empty<string>();
        }

        var tokens = new
        {
           AccessToken = currentAuth,
           RefreshToken = currentRefresh,
        };

        var request = new HttpRequestMessage(HttpMethod.Post, $"/api/Auth/refresh")
        {
            Content = new StringContent(
             System.Text.Json.JsonSerializer.Serialize(tokens),
             System.Text.Encoding.UTF8,
             "application/json")
        };
        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var jsonContent = await response.Content.ReadAsStringAsync();

            var loginResult = System.Text.Json.JsonSerializer.Deserialize<AuthResponse>(jsonContent,
                         new System.Text.Json.JsonSerializerOptions { PropertyNameCaseInsensitive = true });

            if (loginResult != null || !string.IsNullOrEmpty(loginResult.AccessToken) || !string.IsNullOrEmpty(loginResult.RefreshToken))
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", loginResult.AccessToken);
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "refreshToken", loginResult.RefreshToken);

                return new string[] { loginResult.AccessToken, loginResult.RefreshToken };
            }
            return Array.Empty<string>();

        }
        else
        {
            var respContent = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"BLAD Status: {response.StatusCode}, Content: '{respContent}'");
            return Array.Empty<string>();
        }
    }
}